<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if myProject.environment == "production" %}
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    {% endif %}

    <title>{{ metadata.title }}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {% if myProject.environment == "development" %}
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    {% endif %}

    <script src="/js/script.js"></script>
    </head>
  <body class="position-relative" data-spy="scroll" data-target=".site-nav" data-offset="55">
    {% include "includes/navbar.njk" %}
    {{ content | safe }}

    <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">
  <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card mb-4 box-shadow logo-pane wda-logo">
                <a href="https://webdevapprentice.uk"><img src="/images/WDA_Logo_Blue.svg" alt="Web Dev Apprentic Logo"/></a>
                
              </div>
            </div>
            <div class="col-md-5">
              <div class="card mb-4 box-shadow logo-pane tcg-logo">
                <a href="https://thecodersguild.org.uk"><img src="/images/The_Coders_Guild_Logo.svg" alt="The Coders Guild Logo"/></a>
              </div>
            </div>
          </div>

    <!-- Grid row-->
    <div class="row flex-center">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center" style="text-align:center">

          <!--GitHub-->
          <a class="gh-ic" target="_blank" href="https://github.com/thecodersguilduk">
            <i class="fab fa-github fa-lg white-text mr-md-5 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" target="_blank" href="https://twitter.com/the_codersguild">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" target="_blank" href="https://www.linkedin.com/groups/8324305/">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic"  target="_blank" href="https://www.instagram.com/thecodersguild/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--YouTube-->
          <a class="yt-ic" target="_blank" href="https://www.youtube.com/channel/UC_By6GiE5aVoMyoTLr5lGZA">
            <i class="fab fa-youtube fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 | Built with <a href="https://www.11ty.dev/">11ty</a> | Devised and Maintained by <a href="https://thecodersguild.org.uk">The Coders Guild</a> Reg England and Wales: 9622444 UKPRN 10058030
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>

</html>