---
layout: layouts/page.njk
title: 'Workshops'
summary: 'Expert-led training events to explore new tools and frameworks while honing core skills'
hero: /images/workshops/bootcamp.jpg
tags:
  - nav
iconclass: far fa-file-alt
pagination:
  data: collections.posts
  size: 6
navtitle: Workshops
eleventyNavigation:
  key: workshops
  parent: main
  order: 3
permalink: /posts/{{pagination.pageNumber}}/
---

{% include "includes/pagination.njk" %}

{%- for item in pagination.items %}
  {% set defaultURL = '' %}
  {% if item.data.links[0] %}
    {% for name, link in item.data.links[0] %}
      {% set defaultURL = link %}
    {% endfor %}
  {% else %}
      {% set defaultURL = item.url %}
  {% endif %}

  {% include "includes/items.njk" %}

{% endfor -%}

{% include "includes/pagination.njk" %}

