---
layout: layouts/page-home.njk
hero: /images/contrib.jpg
eleventyNavigation:
  key: main
---

{% set postslist = collections.posts | head(4) %}
{% set courselist = collections.courses | head(2) %}

<div class="row">
  <div class="main-content col-md-9">
    <h2>Intro</h2>
    <p>
      This curriculum forms the basis of the Web Dev Apprenticeship Scheme. For more info, to apply or find an apprentice, please visit <a href="https://webdevapprentice.uk">webdevapprentice.uk</a> or <a class="text-warning font-weight-bold" href="https://thecodersguild.org.uk/">The Coders Guild</a>
    </p>
    <a href="https://webdevapprentice.uk"><img src="/images/WDA_Logo_Blue.svg" alt="Web Dev Apprentic Logo"/></a>
    <h4 class="family-sans text-secondary mt-2 mb-4 px-3 px-sm-0">Latest Workshops</h4>
    {%- for item in postslist %}
    {% include "includes/items.njk" %}
    {% endfor -%}
  </div>
  <div class="main-sidebar col-md-3">
    <h4 class="text-secondary mt-2 mb-4 px-3 px-sm-0">Upcoming Field Trips</h4>
    {% set itemList = courselist %}
    {% for item in itemList %}
    {% include "includes/sidebar.njk" %}
    {% endfor -%}
  </div>
</div>